<template>
    <div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" id="title" v-model.trim="title" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group">
            <label for="img" class="col-sm-2 control-label">Header Image</label>
            <div class="col-sm-10">
                <input type="file" id="img" name="img" required>
                <p class="help-block">Please select image for header.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="prefecture" class="col-sm-2 control-label">Tourism location</label>
            <div class="col-sm-10">
                <select class="form-control" id="prefecture" name="prefecture" v-model="selected" required>
                    <option v-for="prefecture in prefectures" v-bind:value="prefecture">{{prefecture}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="article" class="control-label">Article</label>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <textarea class="form-control" rows="20" id="article" name="article" v-model.trim="article" placeholder="## Section ..." required></textarea>
                </div>
                <div class="col-lg-6 col-md-6" style="word-wrap: break-word;" v-html="preview">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default btn-block">Post</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: () => {
            return {
                title: "",
                article: "",
                preview: "",
                selected: "",
                prefectures: [
                    "北海道",
                    "青森県",
                    "岩手県",
                    "宮城県",
                    "秋田県",
                    "山形県",
                    "福島県",
                    "茨城県",
                    "栃木県",
                    "群馬県",
                    "埼玉県",
                    "千葉県",
                    "東京都",
                    "神奈川県",
                    "新潟県",
                    "富山県",
                    "石川県",
                    "福井県",
                    "山梨県",
                    "長野県",
                    "岐阜県",
                    "静岡県",
                    "愛知県",
                    "三重県",
                    "滋賀県",
                    "京都府",
                    "大阪府",
                    "兵庫県",
                    "奈良県",
                    "和歌山県",
                    "鳥取県",
                    "島根県",
                    "岡山県",
                    "広島県",
                    "山口県",
                    "徳島県",
                    "香川県",
                    "愛媛県",
                    "高知県",
                    "福岡県",
                    "佐賀県",
                    "長崎県",
                    "熊本県",
                    "大分県",
                    "宮崎県",
                    "鹿児島県",
                    "沖縄県",
                ]
            }
        },
        watch: {
            article: function(newArticle) {
                this.preview = this.markdown2html(newArticle);
            },
        },
        methods: {
            markdown2html: function(markdown) {
                let html = "";
                markdown = this.sanitaize(markdown);
                let rows = markdown.replace('/\r\n|\r/g').split('\n');
                for(let i=0; i < rows.length; i++) {
                    let tmp = this.headline(rows[i]);
                    html += this.bold(tmp);
                    html += "<br>";
                }
                return html;
            },
            headline: function(row) {
                let h = 0;
                let html = "";
                // #がない場合
                if(row.substr(0,1) !== '#') {
                    return row;
                }
                for(let i=0; i < row.length; i++) {
                    if(row.substr(i, 1) === '#') {
                        h++;
                    } else {
                        break;
                    }
                }
                if(h > 0) {
                    html = "<h" + h + ">" + row.substr(h, row.length).trim() + "</h" + h + ">";
                    return html;
                }
            },
            bold: function(row) {
                let html = "";
                let boldHtml = "";
                let boldTextLength = 0;
                let boldcnt = 0;
                for(let i=0; i<row.length; i++) {
                    if(row[i] === '*') {
                        boldcnt++;
                    }

                    if(boldcnt === 0) {
                        html += row[i];
                    } else if(boldcnt === 1) {
                        html += row[i];
                        boldTextLength++;
                        if(row[i] === '*') {
                            continue;
                        }
                        boldHtml += row[i];
                    } else if(boldcnt === 2) {
                        boldcnt = 0;
                        // 余分に追加した*と*の間の文字を削除
                        html = html.substr(0, html.length - boldTextLength);
                        html += "<b>" + boldHtml.trim() + "</b>";
                        boldTextLength = 0;
                        boldHtml = '';
                    }
                }
                return html;
            },
            sanitaize: function (str) {
                return str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;').replace(/'/g, '&#39;');
            }
        }
    }
</script>
