<template>
    <div class="container" v-on:scroll="scroll()">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label for="prefecture" class="control-label">Search for tourism location</label>
                    <select class="form-control" id="prefecture" name="prefecture" v-model="selected">
                        <option v-for="prefecture in prefectures" v-bind:value="prefecture">{{prefecture}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import bus from '../bus';
    export default {
        mounted() {
        },
        data: function() {
            return {
                nextUrl: null,
                position: 0,
                selected: "",
                articles: [],
                prefectures: [
                    "",
                    "北海道",
                    "青森県",
                    "岩手県",
                    "宮城県",
                    "秋田県",
                    "山形県",
                    "福島県",
                    "茨城県",
                    "栃木県",
                    "群馬県",
                    "埼玉県",
                    "千葉県",
                    "東京都",
                    "神奈川県",
                    "新潟県",
                    "富山県",
                    "石川県",
                    "福井県",
                    "山梨県",
                    "長野県",
                    "岐阜県",
                    "静岡県",
                    "愛知県",
                    "三重県",
                    "滋賀県",
                    "京都府",
                    "大阪府",
                    "兵庫県",
                    "奈良県",
                    "和歌山県",
                    "鳥取県",
                    "島根県",
                    "岡山県",
                    "広島県",
                    "山口県",
                    "徳島県",
                    "香川県",
                    "愛媛県",
                    "高知県",
                    "福岡県",
                    "佐賀県",
                    "長崎県",
                    "熊本県",
                    "大分県",
                    "宮崎県",
                    "鹿児島県",
                    "沖縄県",
                ],
            }
        },
        created() {
            axios.get('/prefecture')
            .then((res) => {
                this.articles.push(...res.data.data);
                this.nextUrl = res.data.next_page_url;
                bus.$emit('searchArticles', [ this.articles, this.selected ]);
            }, (error) => {
                console.log(error);
            });
            window.addEventListener('scroll', this.scroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.scroll);
        },

        watch: {
            selected: function(newSelected) {
                let filter = "";
                if(newSelected !== "") {
                    filter = newSelected;
                }

                axios.get('/prefecture/' + filter)
                .then((res) => {
                    this.articles = [];
                    this.articles.push(...res.data.data);
                    this.selected = newSelected;
                    this.nextUrl = res.data.next_page_url;
                    bus.$emit('searchArticles', [ this.articles, newSelected ]);
                }, (error) => {
                    console.log(error);
                })
            }
        },
        methods: {
            scroll: function() {
                if (this.nextUrl === null) {
                    return;
                }
                this.position = Math.ceil(document.documentElement.scrollTop || document.body.scrollTop);
                // スクロール終えたら次のコンテンツを取得
                if( document.body.scrollHeight - (this.position + window.innerHeight) !== 0 ) {
                    return;
                }
                axios.get(this.nextUrl)
                .then((res) => {
                    this.articles.push(...res.data.data);
                    this.nextUrl = res.data.next_page_url;
                    bus.$emit('searchArticles', [ this.articles, this.selected ]);
                }, (error) => {
                    console.log(error);
                })
            }
        }
    }
</script>
