<template>
    <div>
        <div v-show="articles.length <= 0">
            <div class="row">
                <div class="col-md-6">
                    <h3>記事がありません。</h3>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    You are logged in!<br><br>
                    <div>
                        <div>Let's post article</div>
                        <br>
                        <a class="btn btn-primary btn-block" href="article/create">記事を投稿する</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="articles.length > 0">
            <h3>あなたが投稿した記事</h3>
            <div class="row">
                <div class="col-md-6" v-for="article in articles" :key="article.id">
                    <article class="thumbnail" v-on:scroll="scroll">
                        <img class="header-image" v-bind:src='"storage/images/" + article.image_path' alt="header">
                        <div class="caption">
                            <div class="caption-info">
                                <div class="caption-location">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    {{ article.prefecture }}
                                </div>
                            </div>
                            <a class="caption-link" v-bind:href="'article/' + article.id">
                                <h3 class="article-title">{{ article.title }}</h3>
                                {{ article.outline }}
                            </a>
                        </div>
                        <div class="footer">
                            {{ article.created_at }}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';
    import bus from '../bus';
    export default {
        mounted() {
        },
        data: function() {
            return {
                nextUrl: null,
                position: 0,
                articles: [],
            }
        },
        created() {
            axios.get('/article')
            .then((res) => {
                this.articles.push(...res.data.data);
                this.nextUrl = res.data.next_page_url;
                bus.$emit('getMyArticles', this.articles);
            }, (error) => {
                console.log(error);
            });
            window.addEventListener('scroll', this.scroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.scroll);
        },
        methods: {
            scroll: function() {
                if (this.nextUrl === null) {
                    return;
                }
                this.position = Math.ceil(document.documentElement.scrollTop || document.body.scrollTop);
                // スクロール終えたら次のコンテンツを取得
                if( document.body.scrollHeight - (this.position + window.innerHeight) !== 0 ) {
                    return;
                }
                axios.get(this.nextUrl)
                .then((res) => {
                    this.articles.push(...res.data.data);
                    this.nextUrl = res.data.next_page_url;
                }, (error) => {
                    console.log(error);
                })
            }
        }
    }
</script>
