
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.article-title{
    margin: 5px;
}
.thumbnail{
    .caption{
        .caption-info{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            .post-user{
            }
        }
    }
    .footer{
        text-align: right;
    }
}

.header-image{
    width: auto !important;
    height: 300px !important;
}
.caption{
    height: 150px;
}

.article{
    background-color: #FFFFFF;
    border: solid 1px #F4F4F4;
    padding: 20px 20px;
    word-wrap: break-word;
    .article-title{
        border: solid 2px #F4F4F4;
        margin-bottom: 10px;
        padding: 10px;
    }
    .caption-info{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .footer{
        text-align: right;
    }
}

.caption-link{
    text-decoration: none !important;
    color: $text-color;
}

.navbar-default{
    margin-bottom: 0;
}

.search-head{
    height: 500px;
    background-image: url('./images/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 200px;
    .control-label{
        color: #FFFFFF;
    }
}

.selected-title{
    margin-top: 0;
    margin-bottom: 20px;
}